@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td
	{
	margin: 0;
	padding: 0;
	
}

body,button,input,select,textarea {
	font: 9pt Arial, Helvetica, sans-serif, "宋体";

}
/**************************************************common start*************************************************/
html {
    height: 90%;
}
body, #wrap {
    height: 100%;
    background-color:#70d2ef;
}
body > #wrap {
    height: auto;
    min-height: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
} 
input, select ,radio
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.login_input_right input ,select ,radio{
	width:280px;
	+width:273px;
	_width:273px;
	height:26px;
	font-size:9pt;
	color:#505050;	
}
/*****************************************************CONTENT START***************************************************/
.content_right {
    float:right;
    width:720px;
    height:auto !important;
    min-height:480px;
    _height:480px;   
	padding-bottom:91px;
    _position:relative;
    border-left:#d0d0d0 solid 1px;
}

.content_all {
    float:right;
    width:100%;
    height:auto !important;
    min-height:480px;
    _height:480px;   
	padding-bottom:91px;
    _position:relative;
}

.main_content {
	height: auto !important;
	min-height: 228px;
}

.content_right_center{
	margin-left: 68px;
	margin-right: 71px;
	/*border-bottom: 1px solid #666;*/
	padding-bottom: 15px;
}

.content_center{
	margin-left: 78px;
	margin-right: 78px;
}

.main_content h2 {
	color: #000000;
	font-size: 16px;
	line-height: 24px;
}
/************************************************CONTENT END*********************************************************/


.button_wrapper {
	height: 25px;
	display: inline-block;
	overflow: hidden;
	color: #000000;
}

.button_left, .button_center, .button_right {
    float:left;
    cursor:pointer;
    padding:0 0 0 15px;
    height:25px;
    overflow:hidden;
    background:url(../images/button.png) no-repeat left -25px;
 
}

.button_right {
    padding:0 15px 0 0;
    background:url(../images/button.png) no-repeat right -25px;
 
}
.button_center {
    padding:0;
	font-size:11pt;
    padding-top:3px;
    background:url(../images/button.png) repeat-x left -125px;
	text-align:center;
	width:auto;
	min-width:49px;
}
.mouse_on .button_left{ background-position:left -50px; }
.mouse_on .button_right{ background-position:right -50px;}
.mouse_on .button_center{ background-position:left -150px;}
.mouse_down .button_left{ background-position:left -75px; }
.mouse_down .button_right{ background-position:right -75px; }
.mouse_down .button_center{ background-position:left -175px;}

.disable_btn .button_left {
	cursor: default;
}

.disable_btn .button_right {
	cursor: default;
}

.disable_btn .button_center {
	cursor: default;
	color: #666;
}

.apply_button {
    text-align:right;
    margin-top:27px;
	margin-right:21px;
}
 
.half_table_list {
	margin-left:202px;
	margin-bottom: 10px;
	width: 160px;
	border-color:#C4C4C4;
	border-style: solid;
	border-width: 1px;
    table-layout:fixed;
}

.half_table_list .even_tr{
	background-color:white;
}

.half_table_list .odd_tr{
	background-color:#E5E5E5;
}

.half_table_list th {
	font-weight: bold;
	font-family: Arial;
	color: #000000;
	background-color:#CECECE;
	height:33px;
	text-align:left;
	padding-left:5px;
	word-wrap:break-word;
	overflow:hidden;
}

.half_table_list .double_th_table_first_th
{
	color:#FFFFFF;
	background-color:#808080;
	height:20px;
}

.half_table_list td {
	padding-left: 5px;
	height: 30px;
	border-bottom:1px solid #C4C4C4;
	overflow:hidden;
	word-wrap:break-word;
}

.half_table_list td a{
	color:#1786D5;
}














.table_list {
	margin-bottom: 28px;
	width:100%;
	border-color:#C4C4C4;
	border-style: solid;
	border-width: 1px;
    table-layout:fixed;
}

.table_list .even_tr{
	background-color:white;
}

.table_list .odd_tr{
	background-color:#E5E5E5;
}

.table_list th {
	font-weight: bold;
	font-family: Arial;
	color: #000000;
	background-color:#CECECE;
	height:33px;
	text-align:left;
	padding-left:5px;
	word-wrap:break-word;
	overflow:hidden;
}

.table_list .double_th_table_first_th
{
	color:#FFFFFF;
	background-color:#808080;
	height:20px;
}

.table_list td {
	padding-left: 5px;
	height: 30px;
	border-bottom:1px solid #C4C4C4;
	overflow:hidden;
	word-wrap:break-word;
}

.table_list td a{
	color:#1786D5;
}
/**
.table_list .even_tr{
	background-color:#bbf;
}

.table_list .odd_tr{
	background-color:#ffc;
}

**/
.    td a{
	color:#1786D5;
}


.content_right_title{
	margin-top:36px;
	margin-left:35px;
	margin-right:37px;
	padding-bottom:13px;
	border-bottom-color:#606060;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

.content_right_title span{
	font-size:15pt;
	color:#00bbfc;
}

.content_desc{
	margin-top:33px;	
	border-bottom-color:#DEDEDF;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.content_desc p{
	font-family:Arial;
	font-size:9pt;
	padding-bottom:30px;
	line-height: 21px;
	color:#505050;
}

.content_desc li{
	font-family:Arial;
	font-size:9pt;
	line-height: 21px;
	color:#505050;
}

.content_desc .strong{
	font-weight:bold;
}

.content_subitem{
	margin-top:20px;
	padding-bottom:28px;
	border-bottom-color:#DEDEDF;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

.content_subtitle{
	font-family:Arial;
	font-size:12pt;
	font-weight:bold;
	color:#000000;
	padding-bottom:23px;
}

.content_subitem_left{
	width:190px;
	text-align:left;	
	float:left;
	font-family:Arial;
	font-size:9pt;
}

.content_subitem_right{
	padding-left:222px;
	text-align:left;
	font-family:Arial;
	font-size:9pt;
}

.content_subitem_right  label{
	padding-left:4px;
	padding-right:8px;	
}

.label_span {
	height:auto;
}

.content_item_title{
	height: 30px;
	padding: 15px 15px 0 0;
	font-weight: bold;
	font-size: 18px;
	border-bottom:1px solid #8C8C8C;
	
}

.content_item{
	padding-top:7px;
	height:auto !important;
	min-height:33px;
	clear:both;
	overflow:auto;
	min-height:20px;
}

.content_item a{
	font-weight:bold;
}

.content_item_button{
	height:auto;
	min-height:25px;
}

.content_item_left{
	float:left;
	height:auto !important;
	min-height:25px;
	line-height:25px;
	vertical-align:middle;
	width:220px;
	word-wrap:break-word;
}

.content_item_right{	
	margin-left:222px;
	height:auto;
	min-height:25px;
	line-height:25px;
	vertical-align:middle;
    
	word-wrap:break-word;

}

.content_item_right select
{
	width: 370px;
	margin-bottom: 7px

}

.content_item input[type="text"] {
	*margin-left:-202px;
	width:160px;
}

.content_item input[type="txt"] {
	*margin-left:-202px;
	width:50px;
}

.content_item_right textarea {
	width: 370px;
	margin-bottom: 7px
}

.content_item input[type="password"] {
	*margin-left:-202px;
	width:160px;
}

.content_item input{
	height:25px;
	vertical-align:middle;
}

.content_item input[type="checkbox"]{
	height:auto;
}

.content_item select{

	height:26px;
	width:160px;
	vertical-align:middle;
}
.table_edit .table_button_container{
	padding-top:6px;
	padding-right:16px;
	float:right;
	/*height:36px;*/
	vertical-align:middle;	
}
.content_table_title{
	float:left;
	padding: 8px 0 0 0;
	font-weight: bold;
	font-size: 18px;
}
.content_item label{
	padding-left:4px;
	padding-right:8px;
}
.content_subitem_left1{
	width:190px;
	text-align:right;
	
	float:left;
	font-family:Arial;
	font-size:9pt;
	color:#505050;
}
.content_subitem_right1{
	padding-left:202px;
	text-align:left;
	position:relative;
	font-family:Arial;
	font-size:9pt;
	color:#505050;
	vertical-align:middle;
}

.content_subitem_right   input{
	vertical-align:text-bottom;
}

.content_subitem_right1  label{
	padding-left:8px;
	padding-right:12px;
}

.content_label{
    margin-top:10px;
}

.content_label2 input{
    width:260px;
    height:25px;
}

.content_label2 input{
    margin-top:10px;
}


.step_img_middle { padding-top: 19px; padding-bottom: 22px; border-bottom: 1px solid rgb(222, 222, 222); }
.step_img_disable, .step_img_active, .step_img_normal { height: 40px; width: 79px; text-align: center; vertical-align: middle; font-size: 10pt; }
.step_img_disable { color: rgb(163, 163, 163); background: url('../images/notice_disable.png') no-repeat scroll 0% 0% transparent; }
.step_img_active { color: rgb(255, 255, 255); background: url('../images/notice_active.png') no-repeat scroll 0% 0% transparent; }
.step_img_normal { color: rgb(45, 45, 45); background: url('../images/notice_normal.png') no-repeat scroll 0% 0% transparent; }
.arrow_disable, .arrow_enable { height: 12px; width: 15px; padding-left: 15px; padding-right: 16px; }
.arrow_disable { background: url('../images/arrow_disalbe.png') no-repeat scroll center center transparent; }
.arrow_enable { background: url('../images/arrow_normal.png') no-repeat scroll center center transparent; }
.maintenance_item { height: auto; min-height: 60px; padding-bottom: 20px; border-bottom: 1px solid rgb(222, 222, 222); }
.maintenance_item_desc { height: auto; padding-top: 10px; padding-left: 30px; min-height: 20px; }
.maintenance_item_left { padding-top: 7px; padding-left: 30px; float: left; height: auto; min-height: 25px; line-height: 25px; vertical-align: middle; }
.maintenance_item_right { padding-top: 7px; padding-left: 102px; height: auto; min-height: 25px; line-height: 25px; vertical-align: middle; }
.maintenance_item_butt { padding-left: 15px; padding-top: 15px; }


.sntp_loc_1 { width: 50px ! important; }
.sntp_loc_2 { width: 25px ! important; }
.sntp_sync_but { clear: both; margin-top: 10px; margin-bottom: 10px; }
.sntp_timezone_sel { width: 380px ! important; }

.text_failed { font-weight: bold; color: red; }
.text_passed { font-weight: bold; color: green; }
.button_fix_height { height: auto ! important; min-height: 50px; }
.button_continer { float: right; margin-top: 25px; padding-left: 13px; padding-right: 21px; }


.inputContent{
	width: 10rem;height: 26px;
}



/**************************************************common end*************************************************/













/****************************************Account start***********************************************/

/****************************************Account end***********************************************/

/****************************************Diagnose start***********************************************/
.Diag_reset{
	width: 100%;height: 30px;margin:40px 0 0 0;
}
.Diag_reset div{
	float: right;margin-right: 10%;
}
.Diag_reset input{
	width: 100px;height: 30px;
}
.Diag_reset2{
	width: 100%;height: 30px;margin:40px 0 0 0;
}
.Diag_reset2 div{
	float: right;margin-right: 10%;
}
/****************************************Diagnose end***********************************************/

/****************************************ftpUpdate start***********************************************/
.ftp_content{border-bottom: 1px solid #666;padding-bottom: 15px;}
.ftp_checkbox{width: 16px;height: 16px;}
.ftp_reset{width: 100%;height: 30px;margin:40px 0 0 0;}
.ftp_reset div{float: right;margin-right: 10%;}
.ftp_reset button{width: 100px;height: 30px;}
/****************************************ftpUpdate end***********************************************/

/****************************************module start***********************************************/

/****************************************module end***********************************************/

/****************************************RunningStatus start***********************************************/

/****************************************RunningStatus end***********************************************/

/****************************************SettingDtu start***********************************************/

/****************************************SettingDtu end***********************************************/

/****************************************SettingLAN start***********************************************/

/****************************************SettingLAN end***********************************************/

/****************************************SettingLTE start***********************************************/

/****************************************SettingLTE end***********************************************/

/****************************************SettingSecurity start***********************************************/
.securityLog{
	width: 90%;
background: #70d2ef;
color: #FFF;
/*overflow-y: scroll;*/
margin: 5% auto;
height: 300px;
border: none;
}
.security_content{border-bottom: 0px solid #666;padding-bottom: 15px;}
.security_sub{width: 100%;height: 30px;margin:40px 0 0 0;}
.security_sub div{float: right;margin-right: 10%;}
.security_sub button{width: 100px;height: 30px;}
.security_reset{width: 100%;height: 30px;margin:40px 0 0 0;text-align: center;}
/****************************************SettingSecurity end***********************************************/

/****************************************settingWH start***********************************************/

/****************************************settingWH end***********************************************/

/****************************************SystemLog start***********************************************/

/****************************************SystemLog end***********************************************/

/****************************************TR069 start***********************************************/

/****************************************TR069 end***********************************************/

/****************************************Version start***********************************************/

/****************************************Version end***********************************************/